.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        //similar to background-image cover. the video will fill parent whilst remaining aspect ratio       
        object-fit: cover;
    }
}